<h1>User Sign Up</h1>

<!-- Error message -->
{% for message in messages %}
    <h5 class="alert-message">{{message}}</h2>
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    
    <p>Username</p>
    <input type="text" name="username" placeholder="Username" required />

    <p>Email</p>
    <input type="email" name="email" placeholder="Email" required />

    <p>Password</p>
    <input type="password" name="password" placeholder="Password" required />

    <p>Confirm Password</p>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required />

    <p></p>
    <input type="submit" name="submit" value="Sign Up" />
</form>